@use 'generator';
@use 'sass:color';
@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: generator.primary($theme);
 
  .mat-sidenav {
    background-color: color.adjust($primary, $alpha: -(1 - 0.012));
    border-right: none;
    box-sizing: border-box;
  }
}