@use '@angular/material' as mat;
@use 'generator';
@use 'space';
@use 'sass:color';

@function set-alpha($color, $alpha) {
  $opacity: 1 - $alpha;
  @return color.adjust($color, $alpha: -$opacity);
}


@mixin theme($theme) {
  $background: generator.get-color($theme, 'foreground', 'text');
  a.surface-1, button.surface-1 {
    @include mat.elevation(2);
    &:hover {
      @include mat.elevation(6);
      background-color: set-alpha($background, 0.08);
    }
    &:focus {
      @include mat.elevation(8);
      background-color: set-alpha($background, 0.12);
    }
  }
  .surface-1 {
    border-radius: space.$xs;
    background-color: set-alpha($background, 0.05);
  }
  .surface-2 {
    border-radius: space.$xs;
    background-color: set-alpha($background, 0.08);
  }
  .surface-3 {
    border-radius: space.$xs;
    background-color: set-alpha($background, 0.11);
  }
  .surface-4 {
    border-radius: space.$xs;
    background-color: set-alpha($background, 0.12);
  }
  .surface-5 {
    border-radius: space.$xs;
    background-color: set-alpha($background, 0.14);
  }
}