<ng-container *transloco="let t; read: 'auth.signin'">
  <ng-container *ngIf="mode$ | async as mode">
    <mat-toolbar>
      <a routerLink="/" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1>{{ t(mode) }}</h1>
    </mat-toolbar>

    <form [formGroup]="form" (ngSubmit)="submit(mode)"  autocomplete="on">

      <button type="button" e2e="with-google" mat-flat-button (click)="signinWithGoogle()" [disabled]="signing">
        <mat-icon svgIcon="google" *ngIf="isBrowser"></mat-icon>
        <span>{{ t("signin-with.google") }}</span>
      </button>
        
      <!-- email -->
      <mat-form-field>
        <mat-label>{{ t("email.label") }}</mat-label>
        <input
          #email="matInput"
          matInput
          formControlName="email"
          type="email"
          name="email"
          autocomplete="username"
          e2e="email"
        />
        <mat-error *ngIf="form.hasError('required', 'email')">{{ t("email.required") }}</mat-error>
        <mat-error *ngIf="form.hasError('email', 'email')">{{ t("email.malformed") }}</mat-error>
      </mat-form-field>

      <!-- password -->
      <mat-form-field>
        <mat-label>{{ t("password.label") }}</mat-label>
        <input
          #password="matInput"
          (focus)="passwordFocus = true"
          (blur)="passwordFocus = false"
          matInput
          formControlName="password"
          name="password"
          [type]="showPwd ? 'text' : 'password'"
          autocomplete="current-password"
          e2e="password"
        />
        <button type="button" matSuffix mat-icon-button (click)="showPwd = !showPwd" tabindex="-1">
          <mat-icon *ngIf="!showPwd">visibility</mat-icon>
          <mat-icon *ngIf="showPwd">visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="form.hasError('required', 'password')">{{ t("password.required") }}</mat-error>
      </mat-form-field>
      
      <!-- confirm -->
      <mat-form-field *ngIf="mode === 'signup'">
        <mat-label>{{ t("confirm.label") }}</mat-label>
        <input
          matInput
          type="password"
          name="confirm"
          formControlName="confirm"
          [errorStateMatcher]="confirmErrorState"
          e2e="confirm"
        />
        <mat-error *ngIf="form.hasError('notConfirmed')">{{ t("confirm.notConfirmed") }}</mat-error>
      </mat-form-field>

      <!-- Action -->
      <button type="submit" mat-flat-button color="primary" [disabled]="signing" e2e="submit">
        <!-- t(signin, signup) -->
        <span>{{ t(mode) }}</span>
      </button>
    </form>
  </ng-container>

  <div class="divider">
    <mat-divider fxFlex></mat-divider>
    <span>{{ t("or") }}</span>
    <mat-divider fxFlex></mat-divider>
  </div>

  <footer>
    <ng-container *ngIf="nextMode$ | async as nextMode">
      <a mat-button routerLink="." [queryParams]="{mode: nextMode}" [disabled]="signing" e2e="creationLink">
        <!-- t(signin, signup) -->
        <span>{{ t(nextMode) }}</span>
      </a>
    </ng-container>
    <button mat-button (click)="resetPassword()" [disabled]="signing">
      <span>{{ t("forgot-password") }}</span>
    </button>
  </footer>
</ng-container>

<ng-container *transloco="let t; read: 'auth.snackbar'">
  <ng-template #error let-err>
    <span e2e="err" [id]="err">{{ t("errors." + err) }}</span>
    <button mat-button *ngIf="err === 'user-not-found'" (click)="submit('signup')">
      {{ t("signup") }}
    </button>
  </ng-template>
</ng-container>
