@use 'layout';
@use 'space';

:host {
  display: grid;
  grid-auto-flow: row;
  gap: space.$lg;
}

mat-toolbar {
  a {
    margin-right: space.$sm;
  }
}

form {
  display: grid;
  gap: space.$md;
  margin: auto;
}

.divider {
  display: grid;
  grid-auto-flow: column;
  place-items: center stretch;
  margin: auto;
  text-align: center;
}

footer {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: space.$md;
}

@include layout.bp(gt-sm) {
  form {
    width: 50%;
    padding: 24px;
  }
  .divider {
    width: 50%;
    margin-bottom: 24px;
  }
}

@include layout.bp(lt-md) {
  form {
    width: 60%;
    padding: space.$md;
  }
  .divider {
    width: 60%;
    margin-bottom: space.$md;
  }
}

@include layout.bp(xs) {
  form {
    width: 100%;
  }
}
