@use "space";

:host {
  display: block;
}

nav {
  margin: auto;
  ul {
    display: grid;
    grid-auto-flow: column;
    gap: space.$md;
    padding: 0;
    li {
      list-style: none;

    }
  }
}