@use "space";
@use "easing";

:host {
  display: block;
}

nav {
  margin: auto;
  ul {
    display: grid;
    grid-auto-flow: column;
    gap: space.$md;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      a {
        will-change: background-size;
        background-image: linear-gradient(var(--outline), var(--outline));
        background-size: 4px 4px;
        background-repeat: no-repeat;
        background-position: bottom center;
        transition: background-size 0.3s easing.$ease-in-out-back;
      }
      a.active {
        background-image: linear-gradient(var(--primary), var(--primary));
        background-size: 60% 4px;
      }
    }
  }
}