@use '@angular/material' as mat;
@use 'generator';
@use 'variables';
@use './theme/components/toolbar';
@use './theme/components/sidenav';
@use './theme/components/list';
@use './theme/components/dialog';
@use './theme/components/surface';
@use './theme/components/mat-form-field';
@use './theme/components/icon';


@include mat.core();

:root {
  --space: 8px;
  --sidenav-width: 0px;
}

// Enable calculation for grid
.connected {
  --sidenav-width: 230px;
}

@mixin set-theme($theme) {
  @include mat.all-component-themes(( color: $theme ));

  // Used for specifity
  body {
    @include toolbar.theme($theme);
    @include sidenav.theme($theme);
    @include list.theme($theme);
    @include dialog.theme($theme);
    @include surface.theme($theme);
    @include mat-form-field.theme($theme);
    @include icon.theme($theme);
  }

  :root {
    @include variables.theme($theme);
    --cropper-overlay-color: var(--background);
  }
}

.custom-dialog-container .mat-dialog-container{
  background-color: var(--surface);
}


@media (prefers-color-scheme: light) {
  $theme: generator.light(rgb(243, 243, 247));
  @include set-theme($theme);

  :root {
    color-scheme: light;
  }
}


@media (prefers-color-scheme: dark) {
  $theme: generator.dark(rgb(35, 35, 40));
  @include set-theme($theme);

  :root {
    color-scheme: dark;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }

span + mat-icon,
mat-icon + span {
  margin-left: 8px;
}

