@use '@angular/material' as mat;
@use 'generator';
@use './theme/components/toolbar';
@use './theme/components/sidenav';


@include mat.core();

:root {
  --space: 8px;
}

@mixin set-theme($theme) {
  @include mat.all-component-themes(( color: $theme ));
  @include toolbar.theme();
  @include sidenav.theme();
}


@media (prefers-color-scheme: light) {
  $theme: generator.light(rgb(243, 243, 247));
  @include set-theme($theme);

  :root {
    color-scheme: light;
  }
}


@media (prefers-color-scheme: dark) {
  $theme: generator.dark(rgb(35, 35, 40));
  @include set-theme($theme);

  :root {
    color-scheme: dark;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }

span + mat-icon,
mat-icon + span {
  margin-left: 8px;
}