@use 'space';
@use 'layout';
@use '@angular/material' as mat;

:host {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: space.$lg;
  padding: space.$lg;
  justify-items: center;
}

h1 {
  place-self: center;
  grid-column: 1 / span 2;
}

button {
  cursor: pointer;
  border: none;
  width: 300px;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}
