@use 'space';

:host {
  display: grid;
  grid-auto-flow: row;
  gap: space.$md;
}


form {
  display: grid;
  gap: space.$md;
  padding: space.$md;
  grid-template-columns: 1fr 1fr;
}

img-upload, list-img-upload {
  height: 300px;
}

.row {
  grid-column: 1 / span 2;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: space.$sm;
  }
}

.euro-symbol{
  color: var(--secondary-text);
  padding-left: space.$sm;
  font-size: 100%;
}