<ng-container *transloco="let t; read: 'workshop.home'">
  <header class="main">
    <h1 class="mat-display-2">{{ t('title') }}</h1>
  </header>
  <section>
    <article *ngIf="paintings$ | async as paintings">
      <header>
        <h2>{{ t('painting.title') }}</h2>
        <a mat-flat-button color="primary" routerLink="../painting/create">
          {{ t('painting.add') }}
        </a>
      </header>
      <div class="card-list">
        <ng-container *ngFor="let painting of paintings">
          <a matRipple [routerLink]="['../painting', painting.id]" class="surface-1">
            <img [path]="painting.image" asset="fallback_painting"/>
            <h3>{{ painting.title }}</h3>
          </a>
        </ng-container>
      </div>
    </article>
  </section>
</ng-container>