@use 'space';

:host {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: space.$lg;
  padding: space.$lg;
  justify-items: center;
}

h1 {
  place-self: center;
  grid-column: 1 / span 2;
}

a {
  text-align: center;
  width: 300px;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: space.$md;
  }
}
