@use 'space';

:host {
  display: grid;
  grid-auto-flow: row;
  gap: space.$md;
}


form {
  display: grid;
  gap: space.$sm;
  padding: space.$md;
}

img-upload {
  height: 200px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: space.$sm;
  }
}