<ng-container *transloco="let t; read: 'dashboard.painting'">
  <mat-toolbar>
    <a mat-icon-button routerLink="../.." class="back">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>{{ t('title') }}</h1>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="save()">
    <img-upload formControlName="image" field="image" path="image"></img-upload>

    <mat-form-field>
      <mat-label>{{ t('name.label') }}</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ t('size.label') }}</mat-label>
      <mat-select formControlName="size">
        <ng-container *ngFor="let size of sizes; trackBy: trackByIndex">
          <!-- t(size.1, size.2, size.3, size.4) -->
          <mat-option [value]="size">{{ t('size.' + size) }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <list-img-upload [form]="form.carousel" field="carousel" path="carousel"></list-img-upload>

    <footer>
      <button type="button" mat-button (click)="reset()">{{ t('cancel') }}</button>
      <button type="submit" mat-flat-button color="primary">{{ t('save') }}</button>
    </footer>
  </form>

  <ng-template #success>
    {{ t('snackbar.success') }}
  </ng-template>
</ng-container>