<ng-container *transloco="let t; read: 'dashboard.painting'">
  <mat-toolbar>
    <a mat-icon-button routerLink="../.." class="back">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <h1>{{ t('mainTitle') }}</h1>
    <button *ngIf="!isCreateForm" mat-icon-button (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="save()">
    <img-upload formControlName="image" field="image" path="image"></img-upload>

    <mat-form-field>
      <mat-label>{{ t('title.label') }}</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <static-select name="size" scope="painting.size" [static]="$any(sizes)">
      <mat-label>{{ t('size.label') }}</mat-label>
    </static-select>

    <static-select name="style" scope="painting.style" [static]="styles">
      <mat-label>{{ t('style.label') }}</mat-label>
    </static-select>

    <static-select name="type" scope="painting.type" [static]="types">
      <mat-label>{{ t('type.label') }}</mat-label>
    </static-select>

    <list-img-upload [form]="form.carousel" field="carousel" path="carousel"></list-img-upload>

    <footer>
      <button type="button" mat-button (click)="reset()">{{ t('cancel') }}</button>
      <button type="submit" mat-flat-button color="primary">{{ t('save') }}</button>
    </footer>
  </form>

  <ng-template #success>{{ t('snackbar.success') }}</ng-template>
  <ng-template #removed>{{ t('snackbar.removed') }}</ng-template>
</ng-container>