<ng-container *transloco="let t; read: 'auth.change-password'">
  <seo-meta></seo-meta>
  <header>
    <h1>{{ t("title") }}</h1>
    <h3 *ngIf="email$ | async as email">{{ email }}</h3>
  </header>
  <section @slideListUp>
    <img width="300" height="300" asset="send_mail.svg" alt="sheep starting to run with mail in mouth" />
    <p>{{ t("text") }}</p>
    <button *ngIf="email$ | async as email" mat-flat-button (click)="resend(email)">
      {{ t("resend") }}
    </button>
    <button mat-button (click)="signout()">{{ t("signout") }}</button>
  </section>

  <ng-template #mailResent>
    {{ t("mail-resent") }}
  </ng-template>
</ng-container>
