@use "space";
@use "@angular/material" as mat;

:host {
  display: block
}

header {
  margin: space.$md;
  padding: 0 space.$sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--surface);
  border-radius: space.$xs;
  form {
    display: grid;
    grid-auto-flow: column;
    gap: space.$md;
    align-items: center;
    padding: space.$sm space.$md;
    p {
      margin: 0;
    }
  }
}

section {
  padding: space.$sm space.$md;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: space.$md;
  align-items: flex-start;
  img.main {
    grid-column: 1 / span 2;
    width: 100%;
    border-radius: space.$md;
    margin-right: space.$md;
    aspect-ratio: 1;
    @include mat.elevation(2);
  }
  article {
    grid-column: 3 / span 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: space.$sm;
    justify-items: start;

    h2 {
      margin: 0;
    }

    .img-grid {
      align-self: stretch;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: space.$md;
      img {
        width: 100%;
        border-radius: space.$xs;
        aspect-ratio: 4/3;
        @include mat.elevation(1);
      }
    }
  }
}
