<ng-container *transloco="let t; read: 'search.painting.view'">
  <ng-container *ngIf="painting$ | async as painting">
    <header>
      <a mat-button routerLink="..">
        <mat-icon>arrow_back</mat-icon>
        <span>{{ t('back') }}</span>
      </a>
      <form [formGroup]="form" (ngSubmit)="rent(painting)">
        <p>{{ t('rent.title') }} </p>
        <mat-form-field>
          <mat-label>{{ t('rent.label') }}</mat-label>
          <mat-date-range-input [formGroup]="form" [rangePicker]="picker" [dateFilter]="filters$ | push">
            <input matStartDate formControlName="from" [placeholder]="t('rent.from')">
            <input matEndDate formControlName="to" [placeholder]="t('rent.to')">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker [startAt]="startDate"></mat-date-range-picker>
          <mat-error *ngIf="form.hasError('matStartDateInvalid', 'from')">{{ t('rent.invalid') }}</mat-error>
          <mat-error *ngIf="form.hasError('matEndDateInvalid', 'to')">{{ t('rent.invalid') }}</mat-error>
          <mat-error *ngIf="form.hasError('coverRent', 'to')">{{ t('rent.invalid') }}</mat-error>
          <mat-error *ngIf="form.hasError('matDatepickerFilter', 'from')">{{ t('rent.unavailable') }}</mat-error>
          <mat-error *ngIf="form.hasError('matDatepickerFilter', 'to')">{{ t('rent.unavailable') }}</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">{{ t('rent.submit') }}</button>
      </form>
    </header>

    <section>
      <img class="main" [path]="painting.image" asset="fallback_painting.jpg" />
      <article>
        <h2>{{ painting.title }}</h2>
        <static-tag-list>
          <static-tag scope="painting" key="size" [value]="painting.size"></static-tag>
          <ng-container *ngFor="let style of painting.style">
            <static-tag scope="painting" key="style" [value]="style"></static-tag>
          </ng-container>
          <ng-container *ngFor="let type of painting.type">
            <static-tag scope="painting" key="type" [value]="type"></static-tag>
          </ng-container>
        </static-tag-list>
        <p *ngIf="painting.description">{{ painting.description }}</p>
        <div class="img-grid">
          <img *ngFor="let img of painting.carousel" [path]="img" asset="fallback_carousel" />
        </div>
      </article>
    </section>

    <ng-template #success>{{ t('success') }}</ng-template>
  </ng-container>

</ng-container>