<mat-sidenav-container>
  <mat-sidenav [opened]="!!(user$ | async)" [ngClass]="{ small: small }" mode="side">
    <aside *ngIf="user$ | async as user">
      <header>
        <a routerLink="profile">
          {{ user.email }}
        </a>
      </header>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active">
          Home
        </a>
        <a mat-list-item routerLink="/search" routerLinkActive="active">
          Search
        </a>
      </mat-nav-list>
      <footer>
        <button (click)="signout()">Signout</button>
      </footer>
    </aside>
  </mat-sidenav>
  
  <mat-sidenav-content [ngClass]="{ connected: user$ | async }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>