<ng-container *transloco="let t; read: 'search.painting.list'">
  <form [formGroup]="form">
    <static-select name="size" scope="painting.size" [static]="$any(sizes)" multiple>
      <mat-label>{{ t('size.label') }}</mat-label>
    </static-select>

    <static-select name="types" scope="painting.type" [static]="types" multiple>
      <mat-label>{{ t('type.label') }}</mat-label>
    </static-select>

    <static-select name="styles" scope="painting.style" [static]="styles" multiple>
      <mat-label>{{ t('style.label') }}</mat-label>
    </static-select>

    <mat-form-field>
      <mat-label>{{ t('rent.label') }}</mat-label>
      <mat-date-range-input formGroupName="duration" [rangePicker]="picker" [dateFilter]="dateFilter">
        <input matStartDate formControlName="from" [placeholder]="t('rent.from')">
        <input matEndDate formControlName="to" [placeholder]="t('rent.to')">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="form.hasError('matStartDateInvalid', 'duration.from')">{{ t('rent.invalid') }}</mat-error>
      <mat-error *ngIf="form.hasError('matEndDateInvalid', 'duration.to')">{{ t('rent.invalid') }}</mat-error>
    </mat-form-field>
  </form>

  <ng-container *ngIf="paintings$ | async as paintings; else loading">
    <section class="list" *ngIf="paintings.length else empty">
      <ng-container *ngFor="let painting of paintings; trackBy: trackById">
        <a class="surface-1 card" matRipple [routerLink]="painting.id">
          <img [path]="painting.image" asset="fallback_painting.jpg.jpg" />
          <h3>{{ painting.title }}</h3>
        </a>
      </ng-container>
    </section>
  </ng-container>

  <ng-template #loading>
    <section class="loading">
      <mat-spinner></mat-spinner>
    </section>
  </ng-template>

  <ng-template #empty>
    <section class="empty">
      <p>{{ t('empty') }}</p>
    </section>
  </ng-template>
</ng-container>