@use "space";

:host {
  display: block;
}

form {
  display: grid;
  grid-auto-flow: column;
  gap: space.$md;
  padding: space.$sm space.$md;
  margin: space.$sm space.$md;
  border-radius: space.$xs;
  background-color: var(--surface);
}

section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: space.$md;
  padding: space.$sm space.$md;

  a {
    color: inherit;
    text-decoration: none;
    & > * {
      margin-bottom: space.$sm;
    }
    img {
      width: calc((100vw - var(--sidenav-width) - (4 * space.$md)) / 5);
      height: calc((100vw - var(--sidenav-width) - (4 * space.$md)) / 5);
      aspect-ratio: 1;
    }
    h3 {
      padding: 0 space.$md;
    }
  }
}

.loading, .empty {
  padding: space.$lg;
  place-items: center;
}
